---
import { dirpages } from "$/src/lib/getmd.ts";
import type { GetStaticPaths } from "astro";


export const getStaticPaths = (async () => {
    const result: { params: { slug: string }, props: { [key: string]: any }}[] = [];
    
    for (const [dir, pages] of Object.entries(dirpages)) {
        if (dir === "/" || dir === "_dir") continue;

        const list = [];
        for (const { href, resolver } of pages) {
            const { frontmatter, updated } = await resolver() as { frontmatter: { title: string, updated: string, [key: string]: any }, [key: string]: any };

            list.push({ href, title: frontmatter.title, updated: frontmatter.updated });
        }

        const dirinfo = (await dirpages["_dir"].find((x) => x.dir === dir)?.resolver()) as { frontmatter: { title: string, updated: string, sort: string, [key: string]: any }, [key: string]: any };
        if (dirinfo?.sort === "desc") list.reverse();

        result.push({ params: { slug: dir }, props: { posts: list, title: dirinfo.frontmatter.title } });
    }


    return result;
}) satisfies GetStaticPaths;

const { posts, title } = Astro.props;
const updated = new Date().toLocaleDateString('sv-SE', { timeZone: 'Asia/Seoul' });

---

<article class="dir">
    <h1 id="page-title">{ title } 카테고리 포스팅 리스트</h1>
    <div class="text-right">Last updated: { updated }</div>
    <ul>
        { posts.map((x) => (
            <li class="py-4"><a href={ x.href }>{ x.title }</a> Last updated: { x.updated }</li>
        )) }
    </ul>
</article>