@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: block; /* 로딩 후 표시 */
  src: local('D2Coding Regular'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-full.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-full.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-full.ttf') format('truetype');
}


* {
    @apply leading-normal font-[D2Coding,monospace_!important];
}
.wrapper {
    @apply w-full max-w-240 my-0 mx-auto py-0;
}
button {
    @apply outline-0 border-0 border-b border-dotted text-blue-600 cursor-pointer bg-transparent text-4;
}
a, a:focus, a:hover, a:link, a:visited {
    @apply border-b border-dotted text-blue-600 font-normal decoration-none;
}
b, strong {
    @apply border-b border-dotted text-red-600 font-normal;
}

#page-title {
    @apply text-12;
}
.markdown-body {
    h2 {
        @apply text-8 mt-8 mb-4;
        &:before {
            content: "# ";
        }
    }
    p {
        @apply mt-4 mb-4;
    }
    pre > code, blockquote {
        @apply bg-gray-100 border-l-gray-300 border-l-4;
    }
}