---
import { getCollection } from "astro:content";

const allpage = await getCollection("page");
const alldir = await getCollection("dir");

// {
//     "id": "dev/0010_2511090855fix_korean_english_toggle_key_conflicts_after_installing_ibus-hangul_on_ubuntu",
//     "data": {
//         "layout": "/src/layouts/page.astro",
//         "title": "우분투 데스크탑, ibus-hangul 설치 후, 한/영 전환할 때 오른쪽 alt 키가 원래의 기능과 충돌 일으킬 때 조치",
//         "updated": "2026-01-26"
//     },
//     "body": "## 상황\r\n\r\n13인치 노트북 사용중, 키보드 레이아웃 단출하여 우측 alt 키를 한/영 전환 병행되도록 셋팅\r\n\r\nvscode 사용 중, 한/영 전환 했더니 종종 일반 alt 키와 같은 동작(메뉴로 포커싱 이동)이 병행됨\r\n\r\n## 조치\r\n\r\n아래와 같이 해결\r\n\r\n> 그놈 트윅 실행 (없다면 sudo apt install gnome-tweaks) --> \"Keyboard\" --> \"Additional Layout Options\" --> \"Key to choose the 3rd level\" --> \"Right Alt\" 선택\r\n> 설정 실행 --> \"Keyboard\" --> Input Source 의 \"Korean (Hangul)\" 추가 옵션 --> \"Preferences\" --> \"Add\"\r\n> Add 버튼 누르면 뜨는 팝업에서, 우측 alt 누르면 ISO_Level3_Shift 라고 표시됨\r\n\r\n잘은 모르겠지만 ISO_Level3_Shift 는 유럽식 키보드에서 특수문자를 입력할 때 사용하는 키라 함\r\n\r\n우측 alt 가 일반적인 alt 가 아니게 설정되었고, 한영 전환할 때 vscode 기본 alt 키 기능과 충돌도 없어짐 (당연하지만 왼쪽 alt 는 정상적으로 메뉴 포커싱 기능 잘 작동)\r\n\r\n## 조치 2\r\n\r\n그놈 트윅에서 오른쪽 alt, ctrl 이 한글, 한자 토글 키가 되도록 하는 옵션도 있음",
//     "filePath": "markdown/page/dev/[0010_2511090855]fix_korean_english_toggle_key_conflicts_after_installing_ibus-hangul_on_ubuntu.md",
//     "digest": "b44443c9f10cdd2e",
//     "rendered": {
//         "html": "<h2 id=\"상황\">상황</h2>\n<p>13인치 노트북 사용중, 키보드 레이아웃 단출하여 우측 alt 키를 한/영 전환 병행되도록 셋팅</p>\n<p>vscode 사용 중, 한/영 전환 했더니 종종 일반 alt 키와 같은 동작(메뉴로 포커싱 이동)이 병행됨</p>\n<h2 id=\"조치\">조치</h2>\n<p>아래와 같이 해결</p>\n<blockquote>\n<p>그놈 트윅 실행 (없다면 sudo apt install gnome-tweaks) —> “Keyboard” —> “Additional Layout Options” —> “Key to choose the 3rd level” —> “Right Alt” 선택\r\n설정 실행 —> “Keyboard” —> Input Source 의 “Korean (Hangul)” 추가 옵션 —> “Preferences” —> “Add”\r\nAdd 버튼 누르면 뜨는 팝업에서, 우측 alt 누르면 ISO_Level3_Shift 라고 표시됨</p>\n</blockquote>\n<p>잘은 모르겠지만 ISO_Level3_Shift 는 유럽식 키보드에서 특수문자를 입력할 때 사용하는 키라 함</p>\n<p>우측 alt 가 일반적인 alt 가 아니게 설정되었고, 한영 전환할 때 vscode 기본 alt 키 기능과 충돌도 없어짐 (당연하지만 왼쪽 alt 는 정상적으로 메뉴 포커싱 기능 잘 작동)</p>\n<h2 id=\"조치-2\">조치 2</h2>\n<p>그놈 트윅에서 오른쪽 alt, ctrl 이 한글, 한자 토글 키가 되도록 하는 옵션도 있음</p>",
//         "metadata": {
//             "headings": [
//                 {
//                     "depth": 2,
//                     "slug": "상황",
//                     "text": "상황"
//                 },
//                 {
//                     "depth": 2,
//                     "slug": "조치",
//                     "text": "조치"
//                 },
//                 {
//                     "depth": 2,
//                     "slug": "조치-2",
//                     "text": "조치 2"
//                 }
//             ],
//             "localImagePaths": [],
//             "remoteImagePaths": [],
//             "frontmatter": {
//                 "layout": "/src/layouts/page.astro",
//                 "title": "우분투 데스크탑, ibus-hangul 설치 후, 한/영 전환할 때 오른쪽 alt 키가 원래의 기능과 충돌 일으킬 때 조치",
//                 "updated": "2026-01-26"
//             },
//             "imagePaths": []
//         }
//     },
//     "collection": "page"
// },




// {
//     "id": "dev",
//     "data": {
//         "layout": "/src/layouts/dir.astro",
//         "slug": "dev",
//         "title": "Development",
//         "updated": ""
//     },
//     "filePath": "markdown/dir/[0020]dev.md",
//     "digest": "41e6086aa2f298bb",
//     "rendered": {
//         "html": "",
//         "metadata": {
//             "headings": [],
//             "localImagePaths": [],
//             "remoteImagePaths": [],
//             "frontmatter": {
//                 "layout": "/src/layouts/dir.astro",
//                 "slug": "dev",
//                 "title": "Development",
//                 "updated": ""
//             },
//             "imagePaths": []
//         }
//     },
//     "collection": "dir"
// }


---

<pre>
    { JSON.stringify(allpage, null, 4) }
</pre>
<br /><br /><br /><br /><br /><br /><br /><br />
<pre>
    { JSON.stringify(alldir, null, 4) }
</pre>






