---
import "../styles/global.css";
import Base from "../components/Base.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
---

<Base>
	<div id="layout" class="fixed top-0 right-0 bottom-0 left-0 overflow-y-scroll">
		<div class="wrapper sticky top-0"><Header /></div>
		<div class="wrapper">Nav</div>
		<div class="wrapper"><Main /></div>
		<div class="wrapper sticky top-[100vh]"><Footer /></div>
	</div>
</Base>

<style is:global>
	@reference "../styles/global.css";
	.wrapper {
		@apply w-full max-w-[60rem] mx-auto p-0;
	}
</style>

<script>
	window.addEventListener("clicked-btn-to-top", () => {
		const $layout = document.querySelector("#layout");
		$layout?.scrollTo({
			top: 0,
			behavior: "smooth",
		});
	});
</script>