---
import Layout from "$/src/layouts/Layout.astro";
import Header from "$/src/layouts/Header.astro";
import Main from "$/src/layouts/Main.astro";
import Footer from "$/src/layouts/Footer.astro";
---

<Layout>
	<div id="container" class="fixed top-0 right-0 bottom-0 left-0 overflow-y-scroll">
		<div class="wrapper sticky top-0"><Header /></div>
		<div class="wrapper">Nav</div>
		<div class="wrapper"><Main /></div>
		<div class="wrapper sticky top-[100vh]"><Footer /></div>
	</div>
</Layout>

<style>
	@reference "../styles/global.css";

	.wrapper {
		@apply w-full max-w-240 my-0 mx-auto p-0;
	}
</style>

<script>
	const $container = document.getElementById("container");
	window.addEventListener("click-to-top", () => {
		$container?.scrollTo({
			top: 0, behavior: "smooth"
		});
	});
</script>