---
---

header(class="py-4 px-1 flex justify-between items-center")
    div
        h1(id="site-title") zzinnykko's blog
    div
        button(id="to-top" class="outline-0 border-b border-dotted text-blue-600") to top

script(type="module").
    const $toTop = document.getElementById("to-top");
    $toTop.addEventListener("click", () => {
        window.dispatchEvent(new CustomEvent("click-to-top"));
    });