| <?xml version="1.0" encoding="UTF-8"?>
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
    
    each pages, _ in dirpages
        each x in pages
            url 
                loc #{ x.url }
                lastmod #{ x.updated }