---
const { frontmatter, pages } = Astro.props;

---

<article class="dir">
    <h1 id="page-title" class="text-12">{ frontmatter.title } 카테고리</h1>
    <p class="text-right">Last updated: { frontmatter.updated }</p>
    <ul>
        {
            pages.map((page) => (
                <li><a href={ page.href }>{ page.title }</a>, Last udpated: { page.updated }</li>
            ))
        }
    </ul> 
</article>