---
---

<footer class="py-4 py-1 flex justify-center items-center flex-wrap">
    <div>this blog is designed by zzinnykko,</div>
    <div>built with astro,</div>
    <div>and powered by github pages</div>
</footer>