---
---

<header class="py-4 px-1 flex justify-between items-center">
    <div>
        <h1 id="site-title">zzinnykko's blog</h1>
    </div>
    <div>
        <button id="to-top" class="outline-0 border-b border-blue-600 border-dashed text-blue-600 cursor-pointer">to top</button>
    </div>
</header>

<script type="module">
    const $toTop = document.getElementById("to-top");

    $toTop.addEventListener("click", () => {
        window.dispatchEvent(new CustomEvent("click-to-top"));
    });
</script>
