---
---

<header class="py-4 px-1 flex justify-between items-center">
    <div>
        <h1 id="site-title">zzinnykko's blog</h1>
    </div>
    <div>
        <div id="to-top" class="outline-0 bg-transparent border-b border-b-blue-600 border-dashed text-blue-600 cursor-pointer p-0 m-0 appearance-none leading-none">to top</div>
    </div>
</header>

<script type="module">
    const $toTop = document.getElementById("to-top");

    $toTop.addEventListener("click", () => {
        window.dispatchEvent(new CustomEvent("click-to-top"));
    });
</script>
