---
---

<main id="json-here" class="py-4 px-1">

</main>

<script>
    const $jsonHere = document.getElementById("json-here");

    window.addEventListener("fetch-content", async (e) => {
        const customEvent = e as CustomEvent;
        const tar = customEvent.detail.tar ?? "";

        console.log(tar);

        let r;
        try {
            let res = await fetch(tar);
            if (res.status !== 200) res = await fetch("/page/404.json");

            r = await res.json();
        } catch (err) {
            r = { content: "#n/a failed to attach json file" };
        }

        if ($jsonHere) $jsonHere.innerHTML = r.content;
    });
</script>


<style is:global>
    main {
        article.page {
            h2 {
                @apply text-8 my-12 mb-4;
                &:before {
                    @apply content-["#_"];
                }
            }
            p, & > ul, pre, blockquote {
                @apply my-4;
            }
            pre.astro-code, blockquote {
                @apply p-4 !bg-gray-100 border-l-4;
            }
            /* ul > li {
                @apply block ml-4;
                &:before {
                    @apply content-["-"] inline-block w-4 ml--4;
                }
            } */
            ul {
                @apply list-disc ml-4;
            }
            img {
                @apply block max-w-full mx-auto;
            }
            p > code, li > code {
                @apply border-b border-b-dashed border-black;
            }
        }

        article.dir {
            /* ul > li {
                @apply block py-4 ml-4; 
                &:before {
                    @apply content-["-"] w-4 inline-block ml--4;
                }
            } */
            ul {
                @apply list-disc ml-4;
            }
        }
    }
</style>