---

---


<main class="py-4 px-1">
    <div id="article-here">

    </div>
</main>

<script>
    const $articleHere = document.getElementById("article-here");

    window.addEventListener("fetch-content", async (e) => {
        const event = e as CustomEvent;
        const tar = event.detail.tar;

        console.log(await fetch(tar));

        const articleHere = await (async function() {
            try {
                const res = await fetch(tar, { cache: "no-store" });
                if (res.status !== 200) throw new Error();
                return await res.text();
            } catch (err) {
                try {
                    const res = await fetch("/page/404.html");
                    if (res.status !== 200) throw new Error();
                    return await res.text();
                } catch (innererr) {
                    return "your requested file is not valid or not found";
                }               
            }    
        })();

        if ($articleHere) $articleHere.innerHTML = articleHere;
    });
</script>