---
import { dirpages } from "$/src/lib/getmd.ts";

const list = [];
for (const { href, dir, resolver } of dirpages["_dir"]) {
    const { frontmatter } = await resolver() as { frontmatter: { title: string, [key: string]: any }, [key: string]: any };

    list.push({ href, title: frontmatter.title });
}


---

<nav class="py-4 px-1">
    <ul class="flex justify-left items-center gap-x-4">
        <li>카테고리:</li>
        { list.map((x) => (
            <li><a href={ x.href }>{ x.title }</a></li>
        )) }
    </ul>
</nav>