---
import { getCollection, render } from "astro:content";
import * as path from "path";

const dirs = (await getCollection("dir")).sort((a, b) => {
    const x = a.filePath as string;
    const y = b.filePath as string;

    return x.localeCompare(y);
}).map((dir) => {
    return {
        ...dir.data,
        href: "/dir/" + path.parse(dir.filePath ?? "").name.replace(/\[.*?\]/, "").trim().replace(/\s+/, "_"),
    };
});
---

<nav class="py-4 px-1">
    <ul class="flex flex-wrap justify-left items-center gap-x-4">
        <li>카테고리:</li>
        <li><a href="/">Home</a></li>
        {
            dirs.map((dir) => (
                <li><a href={ dir.href }>{ dir.title }</a></li>
            ))
        }
    </ul>
</nav>