---
import { dirpages } from "$/src/lib/dirpages";

const dirs = dirpages["_dir"];
---


<nav class="py-4 px-1">
    <ul>
        {
            (dirs) ? dirs.map((x) => (<li><a href={ x.url }>{ x.title }</a></li>)) : `dirpages["_dir"] is undefined`
        }
    </ul>
</nav>