---
const { frontmatter } = Astro.props;
---

<article class="page">
    <h1 id="page-title" class="text-12">{ frontmatter.title }</h1>
    <p class="text-right">Last updated: { frontmatter.updated }</p>

        <slot />
</article> 
