---
import type { GetStaticPaths } from "astro";

type MarkdownInstance = {
    file: string,
    frontmatter: Record<string, any>,
    Content: any,
    [key: string]: any,
};

export const getStaticPaths: GetStaticPaths = async() => {
    const pages = import.meta.glob("../../../_pages/**/*.md", { eager: true }) as Record<string, MarkdownInstance>;

    return Object.values(pages).map((post) => {
        const filePath = post?.file ?? "";
        const slug = filePath.split("/").pop()?.replace(/\.md$/, "").replace(/\[.*?\]/g, "").trim().replace(/\s+/g, "_") ?? "untitled";
        return {
            params: { slug },
            props: { post },
        };
    });
}

const { post } = Astro.props;
const { Content, frontmatter } = post as MarkdownInstance;
---

<article class="page">
    <h1>{ frontmatter.title }</h1>
    <div class="text-right">Last updated: { frontmatter.updated }</div>
    <Content />
</article>