---
export const partial = true;

import type { GetStaticPaths } from "astro";
import { allglob } from "$/src/lib/dirpages.ts";

export const getStaticPaths = (async () => {
    const result = [];

    for (const [ dir, pages ] of Object.entries(allglob)) {
        if (dir === "_dir") continue;

        for (const { path, loader } of pages) {
            const { frontmatter, Content } = await loader();

            result.push({
                params: { slug: frontmatter.title },
                props: { ...frontmatter, Content },
            });
        }
    }
    
    return result;
}) satisfies GetStaticPaths;

const { title, updated, Content } = Astro.props;
---

<article class="page">
    <h1 id="page-title">{ title }</h1>
    <div class="text-right">Last updated: { updated }</div>
    <Content />
</article>